:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: yellow;
    --second-color: #000;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --main-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    color-scheme: dark light;
}

img {
    max-width: 100%;
    height: auto;
}

/************************* menu hamburguesa ****************************/
.header {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
    z-index: 997;
}

.header h1 {
    margin: 0;
    text-align: center;
}

.section {
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
}

.panel {
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    width: 100%;
    background-color: var(--main-modal-color);
    transform: translate(0, -100%);
    transition: transform 0.3s ease;
}

.panel.is-active {
    transform: translate(0, 0);
}

.panel-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: var(--main-color) !important;
}

.menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a {
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.menu a:hover {
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-color);
}


/*************** EVENTOS DEL TECLADO ***************/
.stage {
    display: flex;
    min-height: 50vh;
    background-color: var(--second-color);
}

.ball {
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);
}


/***************Scrool to button ***************/
.scroll-top-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: calc(4.25rem + 1vw);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: 0;
    background-color: var(--main-color);
    color: var(--second-color);
    transition: all 0.3s ease-out;
}


.scroll-top-btn:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.dark-mode {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: 0;
    background-color: var(--main-color);
    color: var(--second-color);
    transition: all 0.3s ease-out;
}


.dark-mode:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}

.dark-theme {
    background-color: var(--second-color);
    color: var(--main-color);
}



/****************** Network status *****************/
.online,
.offline {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: green;
    color: #fff;
}

.offline {
    background-color: red;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: var(--dark-color);
    color: var(--yellow-color);
}

.card {
    transition: all 0.3s ease-out;
}

.card figcaption {
    padding: 1rem;
}

.filter {
    opacity: 0;
    visibility: hidden;
    order: 1;
}



/******************** responsive slider *********************/
.slider {
    position: relative;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
}

.slider-slides {
    position: relative;
    height: 400px;
}

.slider-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.slider-slide img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: 50% 0%;
}

.slider-slide.active {
    opacity: 1;
    visibility: visible;
}

.slider-btns {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    font-size: 2.5rem;
}


.slider a {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: thind solid #000;
    text-decoration: none;
    background-color: white;
    color: #000;
    transition: all .3s ease;
}


.slider a:hover {
    background: rgba(34, 34, 34, .6);
    color: white;
    font-weight: bold;
}



/*********** ScrollSpy ************/
@media screen and (min-width: 1024px) {

    body {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem auto;
        grid-template-areas:
            "header header"
            "main panel"
        ;
    }

    main {
        grid-area: main;
    }

    .header {
        grid-area: header;
    }

    .panel {
        grid-area: panel;
        position: sticky;
        top: 4rem;
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
        background-color: var(--second-color);
        justify-content: flex-start;
        align-self: start;
    }

    .panel-btn {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .menu {
        justify-content: start;
    }

    .menu a {
        font-size: 1rem;
        text-align: right;
        padding: 20px .75rem;
    }

    .menu a:hover,
    .menu a.active {
        color: var(--second-color);
        background-color: var(--main-color);
    }

    .scroll-top-btn {
        right: initial;
        left: calc(4.25rem + 1vw);
    }

}


.video {
    width: 100%;
}


/**************** contactForm Validation ***************/
.contact-form {
    --form-ok-color: #176f75;
    --form-error-color: #ff0000;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.contact-form >* {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}

.contact-form textarea {
    resize: none;
}

.contact-form legend,
.contact-form-response {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    font-size: 1rem;
    font-family: sans-serif;
}

.contact-form input[type="submit"] {
    width: 50%;
    font-weight: bold;
    cursor: pointer;
}

.contact-form *::placeholder {
    color: var(--second-color);
}

.contact-form [required]:valid {
    border: thin solid var(--form-ok-color);
}
.contact-form [required]:invalid {
    border: thin solid var(--form-error-color);
}

.contact-form-error {
    margin-top: -1rem;
    font-size: 80%;
    /* background-color: var(--form-error-color); */
    color: var(--form-error-color);
    transition: all 800ms ease;
    font-weight: bold;
}

.contact-form-error.is-active {
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
    display: none;
}

@keyframes show-message {
        0% {
            visibility: hidden;
            opacity: 0;
        }

        100% {
            visibility: visible;
            opacity: 1;
        }
}