*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post {
    background: rgba(3, 3, 3, 0.97);
    display: grid;
    margin: auto;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 60px   ;
}

.post__container {
    background: rgb(13, 165, 140);
    height: 250px;
    display: flex;
    width: 100%;
    box-shadow: 2px 3px 5px white;
    justify-content: flex-start;
    flex-direction: column;
    gap: .5rem;
    font-family: sans-serif;
    border-radius: 10px;
}

.title {
    padding: 15px 10px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-align: center;
}

.body {
    padding: 10px 15px;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
}